# Ignore .DS_Store files (macOS)
.DS_Store

# Ignore language files in Resources/lang/ directories under Addon
# but keep the eng/ subdirectories
Addon/**/Resources/lang/*
!Addon/**/Resources/lang/eng/
vendor

# Server
server/node_modules/
server/.env
server/uploads/*
!server/uploads/.gitkeep

# Client
client/node_modules/
client/dist/

# Root
node_modules/
